body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainBody {
  text-align: center;
  margin-top: 20px;
  background-color: #3c424a;
  /* https://static.collectui.com/shots/3384144/hello-dribbble-large */
  /* background-image: url(https://images.unsplash.com/photo-1597827452371-564d1ddb1bb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRvJTIwZG8lMjBsaXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: 100% 100%;
  background-repeat: no-repeat; */
}
